{% import 'LineStormFileBundle:Form:tile.html.twig' as fn %}

{% set flat= flat|default(false) %}

{% if not flat %}<div class="file-browser-window">{% endif %}
    {% if init_node is not defined %}
        {% set init_node = null %}
    {% endif %}
    {% if exclude_nodes is not defined %}
        {% set exclude_nodes = null %}
    {% endif %}
    {% if input is not defined %}
        {% set input = '.file-form-category' %}
    {% endif %}
    {{ include('LineStormFileBundle:Form:filetreebrowser.html.twig', {
        url: url('linestorm_cms_module_file_api_get_category_tree'),
        init_node: init_node,
        exclude_nodes: exclude_nodes,
        input: input
    }) }}
    <div class="dropzone"
         data-url="{{ path('linestorm_cms_admin_module_file_upload') }}"
         data-prototype="{{ fn.dzPreview(form.file.vars.prototype)|e('html_attr') }}"
         data-count="{{ form.file.children|length }}">
        <!-- dropzone -->
        {% for child in form.file.children %}
            {{ fn.dzPreview(child) }}
        {% endfor %}
    </div>
{% if not flat %}</div>{% endif %}
