{% macro dzPreview(form) %}
    {% spaceless %}
        <div class="file-tile">
            <div class="file-preview">
                <div class="file-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                <img class="file-image-thumbnail" data-dz-thumbnail src="{{ form.src.vars.value }}" />
            </div>

            <button type="button" class="btn btn-danger file-remove" tabindex="-1" data-dz-remove><i class="fa-times"></i></button>

            <div class="file-form-container">
                <div class="file-form-item" id="{{ form.vars.id }}___name__">
                    {{ form_widget(form.title, {attr: {placeholder: 'Title', class: 'file-textarea'} }) }}
                    {{ form_widget(form.alt, {attr: {placeholder: 'Alt Text', class: 'file-input'} }) }}
                    {{ form_widget(form.credits, {attr: {placeholder: 'Credits', class: 'file-input'} }) }}

                    {{ form_widget(form.src) }}
                    {{ form_widget(form.path) }}
                    {{ form_widget(form.hash) }}
                    {{ form_widget(form.name) }}
                    {{ form_widget(form.nameOriginal) }}
                    {{ form_widget(form.category, {attr: {class: 'file-form-category'} }) }}
                </div>
                <p>

                </p>
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}
