{% macro dropzoneItem(form) %}
    {% spaceless %}
        <div class="media-tile">
            <div class="media-preview">
                <div class="media-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                <img class="media-image-thumbnail" data-dz-thumbnail src="{% if form.src|default(false) %}{{ form.src.vars.value }}{% endif %}" />
            </div>

            <button type="button" class="btn btn-danger media-remove" tabindex="-1" data-dz-remove><i class="fa-times"></i></button>

            <div class="file-form-container">
                <div class="media-form-item" id="{{ form.vars.id }}___name__">
                    {{ form_widget(form.title, {attr: {placeholder: 'Title', class: 'media-textarea'} }) }}
                    {{ form_widget(form.description, {attr: {placeholder: 'Description', class: 'media-textarea'} }) }}

                    {{ form_widget(form.filename) }}
                    {{ form_widget(form.path) }}
                    {{ form_widget(form.url) }}
                    {{ form_widget(form.size) }}
                    {{ form_widget(form.status) }}
                </div>
                <p>

                </p>
            </div>

        </div>
    {% endspaceless %}
{% endmacro %}

{% block file_dropzone_widget %}
    <div class="dropzone-box"
         data-url="{{ path('nefarian_web_plugin_field_file_api_file_upload', {form: form.vars.config_name}) }}"
         data-count="{{ form.children|length }}"
         data-limit="{{ form.vars.limit }}"
         data-prototype="{{ _self.dropzoneItem(form.vars.prototype)|e('html_attr') }}">

        <div class="dz-default dz-message">
            <i class="fa fa-cloud-upload"></i>
            Drop files in here<br><span class="dz-text-small">or click to pick manually</span>
        </div>

        <!-- dropzone -->
        {% for child in form %}
            {{ _self.dropzoneItem(child) }}
        {% endfor %}
    </div>
{% endblock %}
