{% extends '@plugin_view/base.html.twig' %}
{% set page_modules = ['cms/view/view/form'] %}

{% block page_title %}
    Views
{% endblock %}

{% block page_desc %}
    Create and Manage Views
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="#"><i class="fa-th"></i> All Views</a></li>
{% endblock %}

{% block plugin %}
    <div class="row" ng-controller="ViewsCtrl">
        <div class="col-sm-4">
            <fieldset>
                <legend>Settings</legend>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="form-name">Name</label>

                    <div class="col-md-9">
                        <input id="form-name" type="text" class="form-control" ng-model="settings.name"
                               placeholder="View Name"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="form-description">Description</label>

                    <div class="col-md-9">
                        <textarea id="form-description" class="form-control" ng-model="settings.textarea"
                                  placeholder="(optional)"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="form-entity">Entity</label>

                    <div class="col-md-9">
                        <select id="form-entity" class="form-control" ng-model="settings.entity"
                                ng-options="obj.value as obj.name for obj in entities | orderBy:name"
                                ng-change="onEntitySelect(settings.entity)">
                        </select>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    Fields
                    <div class="panel-heading-controls">
                        <button type="button" class="btn btn-xs btn-primary btn-outline field-add"
                                data-prototype="{{ form_widget(form.fields.vars.prototype)|e('html_attr') }}">
                            <span class="fa fa-cog"></span> Configure
                        </button>
                    </div>
                </legend>
                <div class="list-group toggle-list">
                    <label class="list-group-item" ng-repeat="obj in fields">
                        {% spaceless %}
                            <div class="switcher switcher-theme-square switcher-sm"
                                 ng-class="{checked: obj.selected}">
                                <input data-class="switcher-sm"
                                       class="switcher-example-square"
                                       type="checkbox"
                                       name="selectedFields[]"
                                       value="{{ '{{ obj.name }}' }}"
                                       ng-model="obj.selected"
                                       ng-change="toggleField(obj)"
                                        >

                                <div class="switcher-toggler"></div>
                                <div class="switcher-inner">
                                    <div class="switcher-state-on">ON</div>
                                    <div class="switcher-state-off">OFF</div>
                                </div>
                            </div>
                            <span class="padded-label">{{ '{{ obj.name }}' }}</span>
                        {% endspaceless %}
                    </label>
                </div>

            </fieldset>
        </div>
        <div class="col-sm-4">
            <fieldset>
                <legend>Associations</legend>
                <div class="list-group toggle-list">
                    <label class="list-group-item" ng-repeat="obj in associations">
                        {% spaceless %}
                            <div class="switcher switcher-theme-square switcher-sm"
                                 ng-class="{checked: obj.selected}">
                                <input data-class="switcher-sm"
                                       class="switcher-example-square"
                                       type="checkbox"
                                       name="selectedFields[]"
                                       value="{{ '{{ obj.hash }}' }}"
                                       ng-model="obj.selected"
                                       ng-change="toggleAssociation(obj)"
                                        >

                                <div class="switcher-toggler"></div>
                                <div class="switcher-inner">
                                    <div class="switcher-state-on">ON</div>
                                    <div class="switcher-state-off">OFF</div>
                                </div>
                            </div>
                            <span class="padded-label">{{ '{{ obj.name }}' }}</span>
                        {% endspaceless %}
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="col-sm-4">
            <pre>{{ '{{ settings|json }}' }}</pre>
            <pre>{{ '{{ fields|json }}' }}</pre>
        </div>
    </div>
    {#
            <div class="col-sm-4">
                <fieldset>
                    <legend>Associations</legend>
                    @TODO: Association mapping
                </fieldset>
            </div>

            <div class="col-sm-4">
                <fieldset>
                    <legend>Display</legend>
                    @TODO: Display providers
                </fieldset>
            </div>
        </div>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-4">
                <fieldset>
                    <legend>Settings</legend>
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.base_entity) }}
                </fieldset>

                <fieldset>
                    <legend>
                        Fields
                        <div class="panel-heading-controls">
                            <button type="button" class="btn btn-xs btn-primary btn-outline field-add"
                                    data-url="{{ url('nefarian_api_view_get') }}"
                                    data-prototype="{{ form_widget(form.fields.vars.prototype)|e('html_attr') }}">
                                <span class="fa fa-cog"></span> Configure
                            </button>
                        </div>
                    </legend>
                    <ul class="field-selection list-group">
                        {{ form_widget(form.fields) }}
                    </ul>

                </fieldset>
            </div>

            <div class="col-sm-4">
                <fieldset>
                    <legend>Associations</legend>
                    @TODO: Association mapping
                </fieldset>
            </div>

            <div class="col-sm-4">
                <fieldset>
                    <legend>Display</legend>
                    @TODO: Display providers
                </fieldset>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
        #}

{% endblock %}
