{% extends '@plugin_content_management/Node/base.html.twig' %}
{% set page_modules = ['cms/content_management/node/form'] %}

{% block head_javascripts %}
    {% set page_modules = page_modules | merge(editor.assets) %}
    {% for field in fields %}
        {% set page_modules = page_modules | merge(field.assets) %}
    {% endfor %}
    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ url('nefarian_plugin_content_management_node_create_select') }}">Edit</a></li>
{% endblock %}

{% block page_title %}
    Editing {{ node.title }}
{% endblock %}

{% block page_desc %}
    Created on <abbr title="{% if node.createdBy %}By {{ node.createdBy.username }} {% endif %}at {{ node.createdOn | date('H:i:s') }}">{{ node.createdOn | date('Y-m-d') }}</abbr>
    {% if node.editedOn %}
        / <em>Edited on <abbr title="{% if node.editedBy %}By {{ node.editedBy.username }} {% endif %}at {{ node.editedOn | date('H:i:s') }}">{{ node.editedOn | date('Y-m-d') }}</abbr></em>
    {% endif %}
{% endblock %}

{% block plugin %}
    {% include '@plugin_content_management/Node/form.html.twig' %}
{% endblock %}
