{% extends '@plugin_content_management/Node/base.html.twig' %}
{% set page_modules = ['cms/content_management/node/form'] %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ url('nefarian_plugin_content_management_node_create_select') }}">Edit</a></li>
{% endblock %}


{% block page_title %}
    Editing {{ node.title }}
{% endblock %}

{% block page_desc %}
    Created on <abbr title="{% if node.createdBy %}By {{ node.createdBy.username }} {% endif %}at {{ node.createdOn | date('H:i:s') }}">{{ node.createdOn | date('Y-m-d') }}</abbr>
    {% if node.editedOn %}
        / <em>Edited on <abbr title="{% if node.editedBy %}By {{ node.editedBy.username }} {% endif %}at {{ node.editedOn | date('H:i:s') }}">{{ node.editedOn | date('Y-m-d') }}</abbr></em>
    {% endif %}
{% endblock %}

{% block plugin %}
    {% form_theme form '@plugin_content_management/Node/Fields/form.html.twig' %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-8">
            <div class="panel">
                <div class="panel-body">
                    {{ form_row(form.title) }}

                    {{ form_row(form.contents) }}

                </div>
                <div class="panel-footer text-right">
                    <a href="{{ url('nefarian_api_content_management_delete_node', {id: node.id}) }}" class="btn btn-danger pull-left api-delete">
                        <i class="fa-trash"></i> Delete
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-save"></i> Update
                    </button>
                    <a href="{{ url('nefarian_plugin_content_management_node_index') }}" class="btn btn-default">
                        Cancel
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle text-muted" data-toggle="collapse" data-parent="#accordion" href="#collapseMeta">
                                    Meta
                                </a>
                            </div>
                            <div id="collapseMeta" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{ form_label(form.description) }}
                                    {{ form_widget(form.description) }}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle text-muted" data-toggle="collapse" data-parent="#accordion" href="#collapsePath">
                                    Path
                                </a>
                            </div>
                            <div id="collapsePath" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{ form_label(form.path) }}
                                    {{ form_widget(form.path) }}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle text-muted" data-toggle="collapse" data-parent="#accordion" href="#collapsePublishing">
                                    Publishing
                                </a>
                            </div>
                            <div id="collapsePublishing" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{ form_label(form.published) }}
                                    {{ form_widget(form.published) }}
                                    {{ form_label(form.publishedOn) }}
                                    {{ form_widget(form.publishedOn) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
