{% extends '@plugin_content_management/Node/base.html.twig' %}

{% block page_title %}
    New Content Node
{% endblock %}

{% block page_desc %}
    Choose a content type to base your node on
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ url('nefarian_plugin_content_management_node_create_select') }}">Create</a></li>
{% endblock %}

{% block plugin %}
    {% for contentType in contentTypes %}
        {% if loop.index % 4 == 1 %}<div class="row">{% endif %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a class="panel panel-default show" href="{{ url('nefarian_plugin_content_management_node_create', {id: contentType.id} ) }}">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ contentType.label }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ contentType.description }}
                    </div>
                </a>
            </div>
        {% if loop.index % 4 == 0 or loop.last %}</div>{% endif %}
    {% endfor %}
{% endblock %}
