{% extends '@plugin_content_management/Node/base.html.twig' %}
{% set page_modules = ['cms/content_management/form'] %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ url('nefarian_plugin_content_management_node_create_select') }}"><i class="fa-file"></i> Create</a></li>
{% endblock %}


{% block page_title %}
    New {{ contentType.name }} Node
{% endblock %}

{% block page_desc %}

{% endblock %}

{% block plugin %}
    {% form_theme form '@plugin_content_management/Node/Fields/form.html.twig' %}
    {{ form_start(form) }}
    {{ form_rest(form) }}

    <div class="form-group">
        <button type="submit" class="btn btn-default">
            <i class="fa-plus"></i> Create
        </button>
    </div>

    {{ form_end(form) }}
{% endblock %}
