{% extends '@plugin_content_management/ContentType/edit.html.twig' %}
{% block tab %}
    {% form_theme form '@plugin_content_management/ContentType/Fields/form.html.twig' %}

    {{ form_start(form) }}
        {{ form_row(form.label) }}
        {{ form_row(form.description) }}

        {{ form_row(form.name) }}

        {{ form_rest(form) }}

        <button type="submit" class="btn btn-default">
            <i class="fa-save"></i> Save
        </button>
    {{ form_end(form) }}
{% endblock %}
