{% extends '@plugin_content_management/base.html.twig' %}
{% set page_modules = ['cms/content_management/form'] %}

{% block page_title %}
    {{ contentType.name }} Content Type
{% endblock %}

{% block page_desc %}
    Manage and update content types
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="#"><i class="fa-pencil"></i> Edit {{ contentType.name }}</a></li>
{% endblock %}

{% block plugin %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="{{ path('nefarian_plugin_content_management_content_type_edit', {id: contentType.id}) }}">Content Type</a></li>
        <li><a href="{{ path('nefarian_plugin_content_management_content_type_edit_fields', {id: contentType.id}) }}">Fields</a></li>
        <li><a href="#">Health</a></li>
    </ul>
    {% block tab %}

    {% endblock %}
{% endblock %}
