{% extends '@plugin_content_management/base.html.twig' %}
{% set page_modules = ['cms/content_management/type/form']|merge(page_modules|default([])) %}

{% block page_title %}
    {{ contentType.label }}
{% endblock %}

{% block page_desc %}
    Manage and update content types
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="#">Edit {{ contentType.label }}</a></li>
{% endblock %}

{% block plugin %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs" role="tablist">
                {% set selected_tab = selected_tab|default('main') %}
                <li {% if selected_tab == 'main' %}class="active"{% endif %}><a href="{{ path('nefarian_plugin_content_management_content_type_edit', {type: contentType.name}) }}">Content Type</a></li>
                <li {% if selected_tab == 'fields' %}class="active"{% endif %}><a href="{{ path('nefarian_plugin_content_management_content_type_edit_fields', {type: contentType.name}) }}">Fields</a></li>
                <li {% if selected_tab == 'form' %}class="active"{% endif %}><a href="{{ path('nefarian_plugin_content_management_content_type_edit_form_view', {type: contentType.name}) }}">Form</a></li>
                <li {% if selected_tab == 'display' %}class="active"{% endif %}><a href="#">Health</a></li>
            </ul>
            <div class="tab-content tab-content-bordered">
                {% block tab %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
