{% extends '@plugin_content_management/ContentType/edit.html.twig' %}
{% set selected_tab = 'fields' %}
{% block tab %}
    {{ form_start(form) }}
        <div class="table-responsive">
            <table class="table table-striped field-type">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Display Type</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for field in contentType.typeFields %}
                    {% spaceless %}
                        <tr>
                            <td><abbr title="{{ field.name }}" >{{ field.label|capitalize }}</abbr></td>
                            <td><a href="{{ url('nefarian_plugin_content_management_content_type_edit_field', {type: contentType.name, typeField: field.name}) }}">{{ field.field.name|capitalize }}</a></td>
                            <td></td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{
                                        url('nefarian_plugin_content_management_content_type_edit_field_details', {type: contentType.name ,typeField: field.name})
                                    }}" class="btn btn-default">Edit</a>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
                                    <ul class="dropdown-menu">
                                        <li><a class="field-type-remove" href="{{
                                            url('nefarian_api_content_management_delete_type_field', {contentType: contentType.id, contentTypeField: field.name})
                                            }}"><i class="fa-trash-o"></i> Remove</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endspaceless %}
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td>
                        {{ form_widget(form.order) }}
                        {{ form_widget(form.label, {attr: {'placeholder': 'Field Label'} } ) }}
                    </td>
                    <td>
                        {{ form_widget(form.field) }}
                    </td>
                    <td>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">
                            Create
                        </button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    {{ form_end(form) }}

{% endblock %}
