{% extends '@plugin_field_tag/Tag/base.html.twig' %}
{% set page_modules = ['cms/field_tag/tag/form'] %}

{% block breadcrumbs %}
    {{ parent() }}
    {% for parent in parents %}
        <li><a href="{{ url('nefarian_plugin_field_tag_tag_edit', {id: parent.id}) }}">{{ parent.name|capitalize }}</a></li>
    {% endfor %}
    <li><a href="{{ url('nefarian_plugin_field_tag_tag_edit', {id: tag.id}) }}">{{ tag.name|capitalize }}</a></li>
{% endblock %}

{% block page_title %}
    Editing {{ tag.name }}
{% endblock %}

{% block page_desc %}
    Modify tag
{% endblock %}

{% block plugin %}
    {{ include('@plugin_field_tag/Tag/form.html.twig') }}
{% endblock %}
