{{ form_start(form) }}

    <div class="panel">
        <div class="panel-body">
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}

            {{ form_rest(form) }}

        </div>
        <div class="panel-footer text-right">
            {% if tag|default(false) %}
                <a href="{{ url('nefarian_api_field_tag_delete_tag', {id: tag.id}) }}" class="btn btn-danger pull-left api-delete">
                    <i class="fa-trash"></i> Delete
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="fa-save"></i> Update
                </button>
                <a class="btn btn-default" href="{{
                        url('nefarian_plugin_field_tag_tag_new', {id: tag.id})
                    }}">
                    <i class="fa-tags"></i> Add Child Tag
                </a>
            {% else %}
                <button type="submit" class="btn btn-primary">
                    <i class="fa-plus"></i> Create
                </button>
            {% endif %}
            <a href="{{ url('nefarian_plugin_field_tag_tags') }}" class="btn btn-default">
                Cancel
            </a>
        </div>
    </div>

{{ form_end(form) }}


{% if tag|default(false) %}
    {% include '@plugin_field_tag/Tag/hierarchy.html.twig' %}
{% endif %}
